<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MainSwitch</key>
	<true/>
	<key>MineSwitch</key>
	<false/>
	<key>SingleSwitch</key>
	<false/>
	<key>ChatSwitch</key>
	<true/>
	<key>DelaySeconds</key>
	<real>2.5</real>
	<key>PreventRevokeMsg</key>
	<false/>
</dict>
</plist>
