Package: com.nb.TweakForWeChatRedEnvelop
Name: TweakForWeChatRedEnvelop
Version: 1.0-4
Description: 
Section: System
Depends: firmware (>= 5.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: KAGE
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

